@use '../abstracts/abstracts' as *;

html * {
    font-family: $primary-font;
}
 
body {
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-image: url("../../img/back-ground.svg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
} 